# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# google service account
fononamachado-cadastro-921fa3d74aad.json

# next.js
.next/
out/

# production build
build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db
